@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*.........................................Fonts */

body {
    font-family: 'Lato', sans-serif;
    color: #555555;
}

h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: #e59400;
}

h3 {
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
    margin-left: 20px;
    letter-spacing: 4px;
    color: #e59400;
}

h4 {
    color: #e59400;
}

p {
    color: #fff;
}

/*.........................................Navbar*/

.navalert-container {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	margin-bottom: 0;
	border: 0;
	max-width: 100%;
	background-color: #000;
	z-index: 1;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar-item {
	font-family: "Oswald" , sans-serif;
    letter-spacing: 4px;
	font-weight: bold;
    font-size: 300%;
    margin-left: 20px;
    color: #e59400;
}

.navbar-dark .navbar-brand:hover {
	color: #e59400;;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link {
	color: #e59400;;
	font-weight: bold;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #e59400;
}

.navbar-dark .navbar-brand {
    color: #e59400;
    font-size: 300%;
    margin-left: 30px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #e59400;;
    padding: 30px;
    font-size: 120%;
    margin-left: 20px; 
}

.navbar-brand a {
	color: #e59400;;
	font-weight: bold;
}

/*.........................................Image section */

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    background: url("../images/smoke-background.png") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#dance-image {
    height: 500px;
    width: 100%;
    margin-top: 80px;
    background: url("../images/dance-image.jpg") no-repeat center center;
    background-size: 800px;

    animation-name: dance-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#dance-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@keyframes dance-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h1 {
    color: #e59400;
}

#cover-text {
    font-family: 'Dancing Script', cursive;
    font-size: 100%;
    letter-spacing: 4px;
    width: 400px;
    height: auto;
    text-align: center;
    
    background-color: rgba(255, 255, 255, .7);
    top: 85px;
    right: 300px;
    position: absolute;
}
   
/*.........................................Info section */

.text-uppercase {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 40px;
}

.blocktext {
    width: 80%;
    text-align: center;
    margin: auto;
}

/*.........................................Focus*/

#our-focus {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto; 
}

.left-about-heading {
    width: 80%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.left-about-heading h2 {
    text-align: left;
}

.left-about-heading p {
    text-align: left;
}

.left-about-heading .features i {
    color: #fff;
}

.right-about-heading .features i {
    color: #fff;
}

.right-about-heading .features p a {
    color: #e59400;
}

.text-title {
    margin: 40px 0px;
    text-align: center;
    font-size: 280%;
}

.focus-image {
    margin-top: 20px;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/eye-focus.jpeg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*.........................................Work page*/

.our-work {
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
}

.video-container {
	display: flex;
	justify-content: left;
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 20px;
}

iframe {
	border: 0;
}

.right-hand-section p {
    color: #fff;
    font-size: 100%;
    text-align: center;
    margin-top: 150px;
}

.col-12, .right-hand-section {
    flex: 100%;
    max-width: 95%;
}
/*.........................................Contact page*/

.contact-heading {
	text-align: center;
	font-weight: 400;
	font-size: 40px;
	position: relative;
	margin-top: 100px;
}

.center-form {
	padding-top: 10px;
	margin: 0 auto;
	max-width: 70%;
}

label {
    display: inline-block;
    margin-bottom: .2rem;
    color: #fff;
}

.btn--cta {
	font-weight: bold;
	border-radius: 23px;
	width: 160px;
}

.btn--orange {
	color: white;
	background-color: #e59400;
	border-color: #525252;
}

/*.........................................Footer*/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    color: #fff;
    max-width: 100%;
    padding: 0;
}

.uppercase .general-sub {
    font-size: 130%;
    color: #e59400;
    text-align: center;
    text-transform: uppercase;
}

.social-links .list-inline-item {
    display: inline;
}

.social-links .list-inline-item a {
    color: #fff;
    text-align: right;
    margin-bottom: 20px;
    padding: 5px;
    font-size: xx-large;
}

li .list-inline-item {
    color: #fff;
}

.ul .list-inline .social-links {
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
    padding: 5px;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    font-size: xx-large;
    text-align: center;
}

.col-sm-12 {
    text-align: center;
    height: 20vh;
    margin-top: 50px;
}

/*.........................................Media queries*/

.mobile-view {
    display: none;
}

@media(min-width: 700px) {
    #cover-text, 
    #cover-text h1, 
    #left-about,
    #our-focus,
    #right-about {
    display: block;
    text-align: center;
}

@media(max-width: 870px) {
    #circle-container {
    display: none;
    }
} 

@media screen and (max-width: 1000px) {
    .col-12 {
        display: contents;
        text-align: center;
        margin-top: 30px;
    }
} 

@media(min-width: 992px) {
	.bg-color-contact-section .center-form {
		padding-top: 30px;
		min-height: 240px;
		margin: 0 auto;
		max-width: 50%;
	}
}